<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<persistence xmlns="http://java.sun.com/xml/ns/persistence" version="2.0">
    <persistence-unit name="filmrent" transaction-type="RESOURCE_LOCAL">
        <class>com.company.filmrent.entity.movie.Movie</class>
        <class>com.company.filmrent.entity.user.Critic</class>
        <class>com.company.filmrent.entity.library.Library</class>
        <class>com.company.filmrent.entity.genres.Genre</class>
        <class>com.company.filmrent.entity.genres.MovieGenre</class>
        <class>com.company.filmrent.entity.actor.Actor</class>
        <class>com.company.filmrent.entity.actor.MovieCast</class>
    </persistence-unit>
</persistence>
